{% extends "base.html.twig" %}

{% block title %}Réinstalisation du mot de passe{% endblock %}

{% block body %}
<section>
    <div class="form_mdp">
        <h1 class="text-center">Réinstalisation de votre mot de passe</h1>
        {{form_start(form)}}
        {{form_rest(form)}}
        <button  class="btn btn-sm btn-primary">Envoyer</button>
        {{form_end(form)}}
    </div>
</section>
{% endblock %}