{% extends 'base.html.twig' %}

{% block title %}Accueil Site portail des Santionner{% endblock %}




{% block body %}
<header class="banner_histoire">

</header>



<div class="container_histoire">

    <div class="image">
        <img src="{{ asset('img/image_santon_avec_fond.png') }}" width="600px" heigth="400px" alt="image d'un santonnier">
    </div>

    <div class="text">
        <h1>Page d'histoire des santonniers et des crêches</h1>
        <p><strong>Les crèches</strong> apparaissent  <strong>en Provence au début du 17° siècle</strong> et s'inscrivent dans le cadre de la  <strong>dévotion à la Sainte Enfance</strong>. Il s'agit de <strong> crèches d'église</strong> dont un des premiers exemples <strong> est attesté dans le sanctuaire de Notre-Dame-des-Anges situé dans la chaine de l'Étoile entre Marseille et Aix.</strong>
       <strong>L'ancêtre des crèches domestiques</strong>  apparait seulement <strong>à la fin du 18° siècle</strong>  sous <strong>la forme de niches ou de boites vitrées</strong>  présentant la <strong>nativité entourée de saints personnages.</strong> 
       <strong> Après la révolution</strong>, elle évolue en  <strong>crèche domestique</strong> telle que nous <strong> la connaissons aujourd'hui</strong>, principalement grâce à <strong>l'invention par Jean-Louis Lagner du santon d'argile crue, moulé en série.</strong> D'abord <strong>limitée à la ville de Marseille et à ses environs</strong>, cette crèche domestique <strong> va se répandre peu à peu en Provence.</strong>
        La <strong> technique du santon moulé en argile crue  a été reprise</strong> par la suite par <strong>de nombreux figuristes.</strong> Elle est <strong>toujours utilisée</strong> par les <strong>santonniers actuels</strong>  qui  <strong>fabriquent</strong> à présent  <strong>des santons en argile cuite</strong> plus  <strong>résistants.</strong> 
        Depuis, «la crèche provençale est <strong> le fruit d'un itinéraire unique</strong>, mêlant  <strong>au fil du temps</strong>,  <strong>le profane au religieux</strong>» selon la définition de <strong>Marcel Carbonel, célèbre santonnier de Provence.</strong>
        <strong>>Les artisans</strong> évoquent <strong>des personnages typiques ou célèbres de la région': Jésus nouveau né, Marie, Joseph, l'ange Gabriel, les rois mages. Sont ajoutés ensuite des santons qui représentent des petits métiers, le rémouleur, la lavandière, le tonnelier, le boulanger, le pêcheur, le gardian de camargue, ou encore des personnages
        issus de la pastorale morel, Margarido,Roustido, ou des contes provençaux, Tartarin de Tarascon, Fanny,</strong>  voire maintenant des célèbrités de Provence,<strong>Mistral, Van Gogh, ou même Tapie et Basile Boli !</strong> 
        </p>
    </div>
</div>

{% endblock %}
