<footer>
            <div class="contact">
                <h3>Lien</h3>
                <a href="#"><p>Accueil</p></a>
                <a href="#"><p>Page sanrtonniers</p></a>
                <a href="{{ path('histoire') }}"><p>Page histoire</p></a>
            </div>

            <div class="mention">
                <h3>Mentions légales</h3>
                <a href="#"><p>Politique de remboursement</p></a>
                <a href="#"><p>Politique de confidentilalité</p></a>
                <a href="#"><p>Politique de retour</p></a>
            </div>

            <div class="social">
                <h3>Nos réseaux sociaux</h3>
                <div class="social-icon">
                    <div class="link-social">
                        <i class="fa-brands fa-facebook"></i>
                    </div>

                    <div class="link-social">
                        <i class="fa-brands fa-instagram" width="40px"></i>
                    </div>
                    <div class="link-social">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>
</footer>