<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        
      <p>Vous avez reçu un mail de  <strong>{{ nom | title }} {{ prenom  | title}}</strong></p>
      <br>
      <p>{{ message }}</p>
</body>
</html>