<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% apply inline_css(source('@email_css/style.css')) %}
        <h1>Réinstalisation du mot de passe</h1>
        <p>Cliquez sur le bouton ci-dessous pour changer votre mot de passe</p>
        {# <a href="{{ url('reset_password', { token: token }) }}">Changer mon mot de passe</a> #}
        <a href="{{ url('reset_password', { token: token }) }}">Changer mon mot de passe</a>
    {% endapply %}
</body>
</html>
